{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

{% for step in wizard.steps.all %}
<a href="{% url 'order:order_step' step %}">Step {{ forloop.counter }}</a>
{% endfor %}

<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{{ all_data }}
</table>
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}
